.buttons_box{
  padding: 2px;
  display: grid;
}

.lines{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    font: 20px Georgia, serif;
    line-height: 1.8;
    margin: 12px 12px 12px 150px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .lines {
      padding: 10px;
      font-family: 'Courier New', Courier, monospace;
      width: 95%;
      text-align: justify;
      font-size: 17px;
      font-weight: 400;
      overflow: hidden;
      font: 17px Georgia, serif;
      line-height: 1.8;
      margin: 12px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .lines {
      padding: 10px;
      font-family: 'Courier New', Courier, monospace;
      width: 90%;
      text-align: justify;
      font-size: 17px;
      font-weight: 400;
      overflow: hidden;
      font: 17px Georgia, serif;
      line-height: 1.8;
      margin: 12px;
      background-color: #f7f8fc;
      border-radius: 3px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }