
.hr_foot{
	height: 7px;
background-color: #8b8b8b;
}

.container{
	max-width: 1170px;
	margin:auto;
	
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.foots{
padding: 2px;
position: sticky;
top: 0;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 10px 0;

}
.footer-col{
   width: 25%;
   padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}
ul li:not(:last-child){
	margin-bottom: 10px;
}
.like li {
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
li:hover{
	color: #420eff;
	padding-left: 8px;
}
.end{
	color: #ffffff;
	text-align: center;
	

}








/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

